.pageContainer {
  width: 100%;
  position: absolute;
  top: 8rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}

h3,
h5,
p,
label {
  color: var(--whitish);
  margin: 0 0 0.5rem 0;
  width: 100%;
}
h3 {
  font-size: 1.5rem;
  color: var(--lightBlue) !important;
}
h5 {
  font-size: 1rem;
  padding: 0 2rem;
}
.pageIntro {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
}
.sectionContainer {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
.sectionTitle {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 0;
  padding: 0;
  margin: 0;
}
.pulsarContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
.pulsar {
  background: var(--lightBlue);
  box-shadow: 0 0 0 0 rgba(123, 226, 230, 1);
  height: 1rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
  animation: pulsed 2s infinite;
}

@keyframes pulsed {
  0% {
    box-shadow: 0 0 0 0 rgba(123, 226, 230, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(123, 226, 230, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(123, 226, 230, 0);
  }
}
.courseDot {
  display: inline-block;
  background: var(--lightBlue);
  height: 0.75rem !important;
  width: 0.5rem !important;
  margin-right: 0.5rem;
}
.courseTitle a {
  text-decoration: none;
  color: var(--midBlue);
  cursor: pointer;
}
.courseTitle a:hover {
  color: var(--lightBlue);
}
.detailsContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 0;
}
.courseDetails {
  width: 80%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
.soloDetail,
.courseDetails button {
  width: 100%;
  height: 1.75rem;
  margin: 0 0 0.5rem 0;
  padding: 0.25rem 0;
  border: 0.1rem solid var(--whitish);
  cursor: pointer;
  background-color: var(--midBlue);
  color: var(--whitish);
  font-family: "Squada One", cursive;
  text-align: center !important;
}
.soloDetail {
  width: 80% !important;
  background-color: var(--lightBlue);
  color: var(--blackish);
  cursor: default;
}
.courseList {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  color: var(--whitish);
}
.courseList li {
  width: 100%;
  /* padding: 0.5rem 1rem; */
  /* font-size: 1rem; */
  background-color: none;
  color: var(--whitish);
  font-family: "Squada One", cursive;
  text-align: center;
  display: none;
}
.courseList .displayed {
  display: inline;
}
