.projectsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.project {
  border: 0.2rem solid var(--whitish);
  padding: 0.5rem;
  margin: 0 0 1.5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.projectTitle {
  width: 100%;
  text-align: center;
  margin: 0 !important;
}
.projectDate {
  width: 100%;
  margin: 0.25rem 0 0.5rem 0;
  color: var(--whitish);
  font-size: 0.75rem;
  text-align: center;
}
.projectTitle a {
  text-decoration: none;
  color: var(--midBlue);
  cursor: pointer;
}
.projectTitle a:hover {
  color: var(--lightBlue);
}
.projectImage {
  width: 100%;
}
.technoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}
.techno {
  width: 100;
  background-color: var(--lightBlue);
  color: var(--blackish);
  text-align: center !important;
  padding: 0.1rem 0;
}
