header {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: flex-start;
  color: var(--darkBlue);
}

h1,
nav,
ul {
  margin: 0;
  padding: 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  background-color: var(--whitish);
}
nav {
  width: 20%;
}
ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--whitish);
  font-size: 1.25rem;
  color: var(--lightBlue);
  border: none;
  padding: 0.5rem 1.5rem;
}

li {
  padding: 0 0.2rem;
  font-size: 1.25rem;
  background-color: var(--lightBlue);
  color: var(--whitish);
  display: none;
}
.displayed {
  display: inline;
}
