header {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  color: var(--darkBlue);
}

h1,
nav,
ul {
  margin: 0;
  padding: 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  padding: 0.5rem 0 0.2rem 0;
  background-color: var(--whitish);
}
h3 {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: var(--whitish);
}
nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}
ul:hover,
button:hover,
li:hover {
  cursor: pointer;
}

button {
  background-color: var(--whitish);
  font-size: 1.25rem;
  color: var(--lightBlue);
  border: none;
  padding: 0.5rem 1rem;
}

li {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: var(--lightBlue);
  color: var(--whitish);
  display: none;
}
li:hover {
  background-color: var(--midBlue);
}
.displayed {
  display: inline;
}
