header {
  width: 100%;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--whitish);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: var(--darkBlue);
}

h1,
nav,
ul {
  margin: 0;
  padding: 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

li {
  margin: 0 0.2rem;
}
