.pageContainer {
  width: 100%;
  position: absolute;
  top: 8rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}

h3,
p,
h5,
label {
  color: var(--whitish);
  margin: 0 0 0.5rem 0;
  width: 100%;
}
h3 {
  font-size: 1.5rem;
  color: var(--lightBlue) !important;
}

.sectionContainer {
  width: 100%;
  margin: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
.sectionTitle {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 0;
  padding: 0;
  margin: 0;
}

p:nth-of-type(even) {
  text-align: right;
}
p:nth-of-type(odd) {
  text-align: left;
}

.knowDetails {
  width: 100%;
  margin: 0;
  padding: 0 1rem 0 0;
  grid-row: 3/4;
}

.profilePic {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 0.05rem solid var(--whitish);
  grid-row: 2/3;
  margin-bottom: 1rem;
}
.pulsarContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
.pulsar,
.miniPulsar {
  background: var(--lightBlue);
  box-shadow: 0 0 0 0 rgba(123, 226, 230, 1);
}
.pulsar {
  height: 1rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
  animation: pulsed 2s infinite;
}
.miniPulsar {
  display: inline-block;
  height: 0.5rem !important;
  width: 0.5rem !important;
  margin-left: 0.75rem;
}

@keyframes pulsed {
  0% {
    box-shadow: 0 0 0 0 rgba(123, 226, 230, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(123, 226, 230, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(123, 226, 230, 0);
  }
}
.formContainer {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
#homeForm {
  display: none;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  display: none;
  margin-top: 0.5rem;
}
label {
  margin-top: 1rem;
}
input,
textarea {
  background-color: var(--lightBlue);
  color: var(--blackish);
  border: 0.1rem solid var(--whitish);
}
input {
  height: 2rem;
}

#formText {
  height: 8rem;
}
#formButton {
  width: 30%;
  margin: 1rem auto 0 auto;
  background-color: var(--lightBlue);
  border: 0.1rem solid var(--whitish);
  cursor: pointer;
}
#formButton:focus {
  background-color: var(--midBlue);
}
.socialContainer {
  display: grid;
  grid-template-columns: 10% 10% 80%;
  grid-template-areas: "linkedin github .";
  grid-gap: 0;
  margin-top: 1rem;
}
.socialIcons {
  width: 2rem;
}
#linkedinLink {
  grid-area: linkedin;
}
#githubLink {
  grid-area: github;
}
@media only screen and (min-width: 801px) {
  .homePage {
    grid-template-columns: 1fr 1fr !important;
    grid-template-areas: ". profilePic" ". profilePic" "formContainer formContainer" !important;
  }
  .profilePic {
    width: 100%;
    max-width: 800px;
    margin-left: 1rem !important;
    grid-area: profilePic;
  }
  .formContainer {
    grid-area: formContainer;
  }
  .socialContainer {
    display: grid;
    grid-template-columns: 6% 6% 88%;
    grid-template-areas: "linkedin github .";
    grid-gap: 0;
    margin-top: 1rem;
  }
}
