.homeContainer {
  width: 100%;
  position: absolute;
  top: 8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: center;
}
h2,
p {
  color: var(--whitish);
}
.description {
  width: 100%;
}
