.pageContainer {
  width: 100%;
  position: absolute;
  top: 8rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}

h3,
p,
label {
  color: var(--whitish);
  margin: 0 0 0.5rem 0;
  width: 100%;
}
h3 {
  font-size: 1.5rem;
  color: var(--lightBlue) !important;
}
.pageIntro {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
}
.sectionTitle {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 0;
  padding: 0;
  margin: 0;
}
.skillset {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
.pulsarContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
.pulsar {
  background: var(--lightBlue);
  box-shadow: 0 0 0 0 rgba(123, 226, 230, 1);
  height: 1rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
  animation: pulsed 2s infinite;
}

@keyframes pulsed {
  0% {
    box-shadow: 0 0 0 0 rgba(123, 226, 230, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(123, 226, 230, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(123, 226, 230, 0);
  }
}
.skillContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 24% 76%;
  grid-gap: 0;
}
.pointsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-gap: 0;
}
.skillPoint {
  background: var(--lightBlue);
  height: 0.5rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
}
.noPoint {
  background: none;
  height: 0.5rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
}
