.pageIntro {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
}
.skillset {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
.skillContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 24% 76%;
  grid-gap: 0;
}
.pointsContainer {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-gap: 0;
}
.skillPoint {
  background: var(--darkBlue);
  height: 0.5rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
}

@keyframes coloring {
  0% {
    background: var(--darkBlue);
  }

  1% {
    background: var(--lightBlue);
  }

  100% {
    background: var(--lightBlue);
  }
}
.noPoint {
  background: none;
  height: 0.5rem !important;
  width: 1rem !important;
  margin-top: 0.4rem;
}
@media only screen and (min-width: 801px) {
  .skillsPage {
    grid-template-areas: "." "." "." "." "." "." "." "formContainer" !important;
  }
}
