@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Squada+One&display=swap");
.App {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
button,
label {
  font-family: "Righteous", cursive;
}
p,
a,
input,
textarea {
  font-family: "Squada One", cursive;
}
