:root {
  --darkBlue: #11005e;
  --midBlue: #2900de;
  --lightBlue: #85e2e6;
  --whitish: #f4f4ff;
  --blackish: #000114;
  font-size: 14px;
  background-color: var(--darkBlue);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 801px) {
  :root {
    font-size: 20px;
  }
}
